/* Silkscreen font */
/* @font-face {
    font-family: 'Silkscreen';
    src: url('./assets/fonts/silkscreen/Silkscreen-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Silkscreen-Bold';
    src: url('./assets/fonts/silkscreen/Silkscreen-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
} */

.font-silkscreen {
    font-family: 'Silkscreen' !important;
    font-weight: 400;
}

.font-silkscreen-bold {
    font-family: 'Silkscreen' !important;
    font-weight: 700 !important;
}